.exchange-card {
  margin-bottom: 1.5em;
  padding: 1.5em;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15);
  text-align: start;
}

.exchange-card .rvl-dropdown {
  flex: 1 1;
  max-width: 50%;
  margin-right: 0.3rem;
}

.exchange-card > .rvl-label:last-child {
  margin-top: 0.5em;
}

.exchange-card .account-dropdown-option {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.exchange-card > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.exchange-card .rvl-input > input {
  font-size: 1.2rem;
  text-align: right;
}
